
<!doctype html>
<html>
	<head>
		<title>Prickle Stats</title>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
		<link href="{{ url_for('static', filename = 'style.css' )}}" rel = 'stylesheet' type='text/css' />
	</head>
	<body>
		<div class="wrapper">
			<h1>Choose a metric!</h1>
			<div class="navbar">
				<form method="post" action="/route">
					<select name="application">
                                                {% for _template in templates %}
						<optgroup label="{{ _template.template }}">
                                                    {% for aid, _alias in _template.aliases.iteritems() %}
							<option value="{{ _template.template }}/{{ _alias }}">{{ _alias }}</option>
                                                    {% endfor %}
                                                {% endfor %}
					</select>
					<span class="arrow">&raquo;</span>
					<select name="period">
                                                {% for _period in ('hour', 'day', 'week') %}
						<option value="{{_period}}">{{_period}}</option>
						{% endfor %}
					</select>
					<span class="arrow">&raquo;</span>
					<button type="submit" name="submit">Go!</button>
				</form>
			</div>
                        <div class="stats">
                            <p>edrama.us uses the prickle stats framework to monitor its services. </p>
                        </div>
		</div>
	</body>
</html>